<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Macro to add an altimeter. -->
  <xacro:macro name="barometer_plugin_macro"
    params="
      namespace
      parent_link 
      ">

    <gazebo>
      <plugin filename="libbarometer_plugin.so" name="${namespace}_barometer">
        <namespace>${namespace}</namespace>
        <linkName>${parent_link}</linkName>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
